@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2b2323;
  --dark-color: #023e3a;
  --light-color: #4c00d2;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
}

/* En tu archivo global CSS */
@layer utilities {
  .w-calc-remaining {
    width: calc(100% - 300px);
  }
}

.w-calc-remaining {
  width: calc(100% - 400px);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}


::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 6px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}


Code kopieren .drawerContainer {
  touch-action: none;
  overflow-y: auto;
}

@keyframes defaultbackgroundshift {
  0%,
  100% {
    box-shadow: 0px 0px 29px 11px #ff6347;
  }

  10% {
    box-shadow: 0px 0px 29px 11px #ff4500;
  }

  20% {
    box-shadow: 0px 0px 29px 11px #f1c40f;
  }

  30% {
    box-shadow: 0px 0px 29px 11px #2ecc71;
  }

  40% {
    box-shadow: 0px 0px 29px 11px #3498db;
  }

  50% {
    box-shadow: 0px 0px 29px 11px #9b59b6;
  }

  60% {
    box-shadow: 0px 0px 29px 11px #e74c3c;
  }

  70% {
    box-shadow: 0px 0px 29px 11px #8e44ad;
  }

  80% {
    box-shadow: 0px 0px 29px 11px #1abc9c;
  }

  90% {
    box-shadow: 0px 0px 29px 11px #34495e;
  }

  100% {
    box-shadow: 0px 0px 29px 11px #f39c12;
  }

  110% {
    box-shadow: 0px 0px 29px 11px #e67e22;
  }

  120% {
    box-shadow: 0px 0px 29px 11px #2980b9;
  }
}

@keyframes defaultbordershift {
  0%,
  100% {
    color: #ff6347;
  }

  10% {
    color: #ff4500;
  }

  20% {
    color: #f1c40f;
  }

  30% {
    color: #2ecc71;
  }

  40% {
    color: #3498db;
  }

  50% {
    color: #9b59b6;
  }

  60% {
    color: #e74c3c;
  }

  70% {
    color: #8e44ad;
  }
}
